/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Page background */
body {
  background-color: #000;
  color: #000;
}

/* Center container */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.auth-card {
  background: #fff;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.15);
}

/* Title */
.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.auth-card input:focus {
  border-color: #000;
}

/* Button */
.auth-card button {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #222;
}

/* Message text */
.auth-msg {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}